body {
  font-family: 'InaiMathi', 'Tamil Sangam MN', 'Nirmala UI', Latha, Bamini,
    Roboto, Noto, 'Noto Sans Tamil', sans-serif;
}

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
